body {
    font-family: "Helvetica Neue", 'Helvetica', 'Arial', 'sans-serif';
    margin:0 auto;
    background-color: #c5c6c9!important;
}

.container {
    margin: 20px 0 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
}

.init {
    margin-top: 300px;
    text-align: center;
    background-color: #c5c6c9;
    text-decoration: none;
}

.init h2 {
    font-size: 48px;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
}

.stepTitle, .nameTitle {
    font-size: 18px;
    margin-top: 3px;
}

input, span {
    display: block;
}

div > span {
    margin-top: 8px;
}

div > span, form > div > input {
    margin-left: 30px;
}

.addBtn {
    display: block;
    margin: 0 0 1% 45%;
    text-align: center;
    width: 30px;
    height: 30px;
}

.removeBtn {
    float: right;
    width: 15px;
    height: 15px;
    margin: 8px 623px 0 0;
}